<nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
  <a class="navbar-brand" href="/"><i class="fas fa-cloud"></i></a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link font-weight-bold" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link font-weight-bold" href="/film/create">Add Film</a>
    </li>
    <li class="nav-item">
      <a class="nav-link font-weight-bold" href="/category/create">Add Genre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link font-weight-bold" href="/films">View Films</a>
    </li>
    <li class="nav-item">
      <a class="nav-link font-weight-bold" href="/categories">View Genres</a>
    </li>
  </ul>
</nav>
